<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= (typeof title != "undefined" ? title : "") %></title>
<link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='fontawesome/css/all.min.css'>
<link rel='stylesheet' href='admin-lte/dist/css/adminlte.min.css'>
<link rel='stylesheet' href='fontawesome/css/fontawesome.css'>
<link rel='stylesheet' href='admin-lte/dist/css/adminlte.min.css'>
<link rel='stylesheet' href='admin-lte/plugins/iCheck/square/blue.css'>
</head>

<body class="hold-transition sidebar-mini">