<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= (typeof title != "undefined" ? title : "") %></title>
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='fontawesome/css/all.min.css'>
    <link rel='stylesheet' href='admin-lte/dist/css/adminlte.min.css'>
    <link rel='stylesheet' href='fontawesome/css/fontawesome.css'>
    <link rel='stylesheet' href='admin-lte/dist/css/adminlte.min.css'>
    <link rel='stylesheet' href='admin-lte/plugins/iCheck/square/blue.css'>
      </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <% if (user) {%>
      <a class="navbar-brand" href="dashboard"></a><%}%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin">Admin</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        <% if (user) {%>
        <li class="nav-item">
         <a class="nav-link disabled" href="logout">Logout</a>
       </li>
       <%} else {%>
        <li class="nav-item">
        <a class="nav-link disabled" href="login">Login</a>
      </li><%}%>
        </ul>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="row">
        <div class="col-8">
            <form action="/edit/" method="post">
            <div class="form-group">
            <input type="text" required="true" id="fullname" name="username" placeholder="Name" class="form-control">
            </div>
            <div class="form-group">
            <input type="email" required="true" id="email" name="email" placeholder="Email Address" class="form-control">
            </div>
            <div class="form-group">
            <input type="text" required="true" id="phone" name="phone" placeholder="Phone Number" class="form-control">
            </div>
            <div>
            <textarea rows="" id="address" required="true" cols="" placeholder="Address" name=address class="form-control"></textarea>
            </div>
            <div class="form-group">
            <input type="file" id="photo" name="photo" class="form-control">
            </div>
        
            <div class="">
            <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
        </form>
        </div>
      </div>
    <div>
</body>
</html>